{% extends 'base.html' %}
{% block content %}

<h1>About the Cheetah Collector</h1>
<hr />
<p>There are three stages in the life cycle of the cheetah: cub (birth to 18 months), adolescence (18 to 24 months) and adult life (24 months and on).

    The gestation (pregnancy) period for the cheetah is 93 days, and litters range in size from one or two up to six cubs (the occasional litter of eight cubs has been recorded, but it is rare). Cub mortality is higher in protected areas like national parks and wildlife reserves where proximity to large predators is greater than in non-protected areas. In such areas, the cheetah cub mortality can be as high as 90%.</p>


{% endblock %}