{% extends 'base.html' %}
{% block content %}

<h1>Cheetah's</h1>
<hr />
<p>Adult life for a cheetah in the wild is difficult. Cheetahs in the wild (both male and female combined) have an average age span of 10 – 12 years. The average lifespan of an adult male in the wild skews lower (8 years), due in part to territorial conflicts with competing groups of males. Adult mortality is one of the most significant limiting factors for the growth and survival of the wild cheetah population.</p>


    

{% endblock %}